# Introdución a Pandas Laboratorio

Debes completar as celas marcadas con `# TODO`.

## 1. Creación de Series e DataFrames

### Exercicio 1: Crear Series
Crea unha `Series` con valores `[10, 20, 30, 40]` e índices `['a','b','c','d']`. Comproba o tipo de datos e mostra o seu contido.

In [ ]:
# TODO: importa pandas e crea a Series indicada; amosa o tipo e o contido

### Exercicio 2: DataFrame a partir dun diccionario
Crea un `DataFrame` con datos de alumnos usando un `dict` con estas claves:
- 'nome': ['Ana', 'Brais', 'Clara', 'David']
- 'idade': [20, 21, 22, 20]
- 'nota': [8.5, 7.3, 9.0, 6.8]

In [ ]:
# TODO: crea o DataFrame a partir do diccionario e móstrao

### Exercicio 3: DataFrame a partir de listas
Crea o mesmo `DataFrame` anterior pero a partir dunha **lista de listas** e unha lista de nomes de columnas.

In [ ]:
# TODO: crea o DataFrame desde listas coas columnas ['nome','idade','nota']

### Exercicio 4: Cargar un DataFrame desde un ficheiro CSV
Crea un pequeno ficheiro CSV de exemplo (ou usa outro dispoñible) e le con `pd.read_csv()`. Amosa as primeiras filas e o número de rexistros.

In [ ]:
# TODO: le o CSV, amosa len(df_csv) e df_csv.head()

## 2. Visualización e exploración de datos

### Exercicio 5: Métodos básicos de visualización
Usa sobre o `DataFrame` de alumnos: `head()`, `tail()`, `info()` e `describe()`.

In [ ]:
# TODO: aplica os métodos indicados e observa as saídas

### Exercicio 6: Ordenación e selección básica de columnas
1) Ordena por `nota` de maior a menor. 
2) Mostra só `nome` e `nota`.

In [ ]:
# TODO: ordena e selecciona as columnas

## 3. Selección de datos con `iloc` e `loc`

### Exercicio 7: Selección con `iloc`
1) Primeira fila. 
2) Valor da terceira fila e segunda columna. 
3) Dúas primeiras filas completas.

In [ ]:
# TODO: usa iloc nas tres peticións

### Exercicio 8: Selección con `loc`
1) Fila coa etiqueta de índice 2. 
2) Todas as filas con columnas `nome` e `nota`. 
3) Filas 1 a 3 incluídas.

In [ ]:
# TODO: usa loc para as tres peticións

## 4. Filtrado de datos

### Exercicio 9: Filtros sinxelos
1) Alumnos con `nota > 8`. 
2) Alumnos con `idade == 20`.

In [ ]:
# TODO: crea dous DataFrames filtrando con condicións sinxelas

### Exercicio 10: Filtros combinados
1) `idade > 20` e `nota >= 8`. 
2) `idade` en [20, 22].

In [ ]:
# TODO: combina condicións con & e usa .isin([...])

## Conclusión
Revisa as túas solucións e compara co boletín con solucións para consolidar o aprendido.